@import url('https://fonts.googleapis.com/css2?family=Prompt&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Prompt:wght@200&family=Signika:wght@300&display=swap');

//gestion des couleurs
$blue: #2D5289;
$blue_opa : rgba(45, 82, 137, 0.55);
$gold : #F0C045;
$white : #ffffff;
$black : #000000;
$white_opa : rgba(255, 255, 255, 0.7);
$gris_cadre : rgba(255, 255, 255, 0.4);

//gestion des fonts
$font_principale : 'Prompt', sans-serif;
$font_secondaire : 'Signika', sans-serif;
//initialisation des mixins
@mixin center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
@mixin centerGD {
    position: absolute;
    left: 50%;
    transform: translate(-50%,0);
}
@mixin slideTaille {
    width: 100%;
    height: 100vh;
}
@mixin after {
    content: "";
    display: block;
    width: 100%;
    height: 3px;
    background-color: $gold;
}
@mixin buton {
    width: 150px;
    height: 50px;
    background-color: $white;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    margin-top: 10vh;
    position: relative;
    font-size: 1.5rem;
    font-family: $font_secondaire;
    font-weight: bold;
}
//page a 0
*{
    margin: 0;
    padding: 0;
}

html, body{
    @include slideTaille;
    scroll-behavior: smooth;
    overflow-x: hidden;
}
//gestion du wrapper
.wrapper{
    width: 1200px;
    margin: 0 auto;
}
//fin du wrapper
//slide 1
#home{
    position: relative;
    @include slideTaille;
    background-image: url(../../build/images/home_img.webp);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}
//filtre bleu sur la photo
#home::after{
    content: "";
    display: block;
    width: 100%;
    height: 100vh;
    background-color: $blue_opa;
   z-index: 100;
}

//menu
nav{
    position: absolute;
    width: 100%;
    height: 10vh;
    background-color: $white_opa;
    backdrop-filter: blur(5px);
}

nav ul{
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
nav ul li{
    list-style: none;
    display: block;
}


.lien,a {
    line-height: 4.5rem;
    color: $black;
    text-decoration: none;
    font-family: $font_principale;
    font-weight:bold;
    font-size: 1.2rem;
    transition: 0.5s ease;
}
//souligner les titre des lien avec le hover
.lien::after {
    content: '';
    display: block;
    margin-top: -1.2rem;
    border-radius: 10px;
    height: 3px;
    width: 0;
    background-color: $black;
    transition: width 0.5s ease;
  }
  .lien:hover::after {
    width: 100%; 
  }
//gestion du logo dans le menu
#rave{
    width: 35%;
}
#rave a{
    font-family: $font_secondaire;
    font-weight: bolder;
    font-size: 2.5rem;

}
//gestion animation de la fusée
ul img{
    position: absolute;
    width: 10%;
    margin-top: -5vh;
    animation-name: fusee;
    margin-left: -20%;
    animation-duration: 2s;
    animation-timing-function:ease-in-out;
    animation-fill-mode: forwards;
}


@keyframes fusee{
    0%{
        margin-left: -20%;
    }
    100%{
        margin-left: 11%;
    }
}
//gestion animation de la fusée FIN
//menu FIN
//titre principal
#fond_titre{
    @include center;
    width: 40%;
    height: 30%;
    background-color: $gris_cadre;
    
}
h1{
    font-family: $font_secondaire;
    font-size: 5rem;
    color: $white;
    text-shadow: $black 5px 5px 10px;
    font-weight: normal;
    text-align: center;
}
//grosseur de la police du mot "festival"
#bold{
    font-weight: bolder;
}
//centrage dans le rectangle
#text{
    margin-top: 3%;
}
//gestion du rectangle qui tourne 
#home svg{
    @include centerGD();
    margin-top: 35%;
}

#rectangleQuiBouge{
    height: 50%;
  position: absolute;
    stroke: $gold;
    stroke-width: 5px;
    fill: none;
    stroke-dasharray: 315;
    animation-name: yes;
    animation-duration: 10s;
    animation-timing-function:linear;
    animation-iteration-count: infinite;
}

@keyframes yes {
    0%{
        stroke-dashoffset: 315;
    }
    50%{
        stroke-dashoffset: 0;
    }
    100%{
        stroke-dashoffset: -315;
    }  
}
.date{
    font-family: $font_principale;
    font-weight: 900;
    margin-top: 35%;
    line-height: 6.5rem;
    @include centerGD;
    color: $gold;
    font-size: 3.5rem;
}
//gif scroll
#scroll{
    @include centerGD;
    margin-top: 45%;
    width: 3%;
}
//slide1 FIN

//slide2 

.taille_de_slide_bleu{
    @include slideTaille;
    height: auto;
    padding-bottom: 5vh;
    position: relative;
    background-color: $blue;
}
.fond_ST{
    width: 100%;
    height: auto;
}
.sous_titre{
    color: $gold;
    font-family: $font_principale;
    font-size: 3rem;
    @include centerGD();
    position: relative;
    font-weight: bolder;
    text-align: center;
    width: 30%;
    line-height: 15vh;
    background-color: $blue;
}
.fond_ST::after{
    margin-top: -7vh;
    content: "";
    display: block;
    width: 100%;
    height: 3px;
    background-color: $gold;
}
.container{
    margin-top: 10vh;
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 100px;
}
.carrez{
    width: 150px;
    height: 100px;
    border: solid 5px $white_opa;
    border-radius: 15px;
}
.carre{
    text-align: center;
    font-weight: normal;
    color: $white;
    font-family: $font_principale;
    font-size: 1.5rem;
}

.chiffres{
    font-weight: bolder;
    font-size: 2.5rem;
    text-align: center;
}

.texte_slide2{
    color: $white;
    font-size: 1.5rem;
    text-align:center;
    font-family: $font_principale;
    font-weight: 100;
    margin-top: 10vh;
}
.warning{
    margin-top: 2vh;
    margin-right: 5vh;
    color: $gold;
}
.covid{
    font-family: $font_principale;
    display: inline-block;
    font-size: 2.5rem;
    color: $gold;
}
.covid::after{
    @include after();
}
.pcr{
    margin-top: 4vh;
}
.edition2020{
    @include centerGD();
    margin-top: 3vh;
}
.moreInfo{
    font-family: $font_principale;
    font-size: 2.5rem;
    font-weight: normal;
    width: 100%;
    text-align: center;
    margin-top: 60vh;
    color: $white;
}
.aftermovie{
    width: 560px;
    height: 320px;
    @include centerGD();
    margin-top: 16vh;
}

//slide 2 FIN 

//slide 3 DEBUT
//je regle mon container pour qu'il prennent l'espace qu'il peut et je le met en flex
.container_artiste{
    position: relative;
    margin: 0 auto;
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 10vh;
}
//svg du click
#touch{
    position: absolute;
    margin-top: -5em;
    z-index: 100;
    top: 100px;
    left: 0;
}
//premiere face et backface-visibilty pour cacher l'arriere de la carte
.carte_artiste{
    position: relative;
    width: 230px;
    height: 300px;
    background-color: $blue;
    border-radius: 20px;
    overflow:hidden;
    margin-bottom: 50px;
    margin-top: 70px;
    backface-visibility: hidden;
    
}
//augmenter la taille de la photo
.carte_artiste:hover{
    cursor: pointer;
    .img_carte{
        transform: scale(1.2); 
    }
    
}
//permet a la photo de ne pas depasser
.cont_img{
    border-radius: 20px 20px 0 0;
    width: 100%;
    height: 230px;
    overflow:hidden;
}
.img_carte{
    height: 100%;
    width: 100%;
    transform: scale(1);
    transition: all 0.3s ease-in-out;
}
.rect_texte{
    background-color: $white;
    width: 100%;
    height: 70px;
}
.texte_carte{
    color: $black;
    width: 100%;
    text-align: center;
    font-family: $font_principale;
    font-size: 1.2rem;
    line-height: 4rem;
}
//arriére de la carte.position absolue et margin-top negatif pour le placer derriere la premiere face
.carte_retour{
    position: absolute;
    width: 230px;
    height: 300px;
    background-color: $white;
    margin-top: -350px;
    border-radius: 20px;
    backface-visibility: hidden;
    transform: rotateY(180deg);
    cursor: pointer;
}
.wrapper_carte{
    width: 95%;
    margin: 0 auto;
}
.centrage{
    width: 100%;
    text-align: center;
}
.titre_carte_retour, .sous_titre_carte_retour{
    display: inline-block;
    color: $blue;
    font-family: $font_principale;
    font-size: 1.5rem;
    width: auto;
}
.sous_titre_carte_retour{
    font-size: 1rem ;
}

.texte_carte_retour{
    display: block;
    width: 100%;
    color: $black;
    font-family: $font_principale;
    font-size: 0.8rem;
    text-align: center;
    margin: 5px 0;
    line-height: 1.7em;
}
.flip{
    transition: transform 1s;
    transform-style: preserve-3d;
}
//s'active au click et permet de tourner la certe 
.flip.flipMe{
    transform: rotateY(180deg);
}
//souligner les titre et sous-titres
.titre_carte_retour::after,.sous_titre_carte_retour::after{
    @include after();
    background-color: $blue;
    height: 2px;
}
.icons{
    text-align: center;
    width: 100%;
    text-align: center;
    margin-top: -1rem;
}
.fa-youtube,.fa-spotify,.fa-itunes-note{
    margin: 0 10px;
    font-size: 1.2em;
}
//slide 3 FIN 

//slide 4 DEBUT
// je defini un container pour la timetable
.timeline_line{
    width: 100%;
    height: auto;
    text-align: center;
    margin-top: 10vh;
    
}
//je met mon grid sur chaque ligne pous que tout sois l'un en dessous de l'autre
.line{
    width: 100%;
    height: 100px;
    display: grid;
    grid-template-columns: repeat(12,1fr);
}
//je defini une position dans le grid au nom,au heure et au cercle
.timeline_hour,.timeline_name{
    width: 100%;
    grid-column: 3/span 3;
    color: $white;
    font-size: 2rem;
    font-family: $font_principale;
    text-align: center;
    font-weight: 100;
}
.timeline_name{
    grid-column: 6/span 4;
    font-weight: 500;
}
//je defini un cercle vide
.timeline_pict{
    grid-column: 10;
    margin-top: -5px;
    width: 60px;
    height: 60px;
    border-radius: 90%;
    background-position: center center;
    background-size: cover;
    border: solid 1px $white;
    
}
//je fais la separtion en "after"
.timeline_hour::after{
    content: "";
    width: 3px;
    height: 50px;
    border-radius: 20px;
    display: block;
    background-color: $white;
    margin-left: 100%;
    margin-top: -55px;
}
//je rempli mes rond avec des backgrounds
#headhunterz_rond{
    background-image: url(../../build//images/petite_images/headhunterz.png);
}
#Angerfist_rond{
    background-image: url(../../build//images/petite_images/angerfist.png);
}
#Ghost_rond{
    background-image: url(../../build//images/petite_images/ghost.png);
}
#hard_rond{
    background-image: url(../../build//images/petite_images/hard.png);
}
#mandy_rond{
    background-image: url(../../build//images/petite_images/mandy2.png);
}
#mwak_rond{
    background-image: url(../../build//images/petite_images/mark.png);
}
#sub_rond{
    background-image: url(../../build//images/petite_images/sub.png);
}
#rebelion_rond{
    background-image: url(../../build//images/petite_images/rebelion.png);
}
#miss_rond{
    background-image: url(../../build//images/petite_images/miss.png);
}
#sefa_rond{
    background-image: url(../../build//images/petite_images/sefa.png);
}
.fuseeLiftOff{
    position: absolute;
    margin-top: 50vh;
}
#fuseeLiftOff_gauche{
    margin-left: -36px;
}
#fuseeLiftOff_droit{
    margin-left: 1163px;
}

//Slide 4 FIN

.ticket_grid{
    width: 100%;
    height: auto;
    margin-top: 10vh;
}
.ligne_ticket_grid{
    width: 100%;
    height: 100px;
    display: grid;
    margin-top: 5vh;
    grid-template-columns: repeat(12,1fr);
}
.ticket_text_bold,.ticket_text{
    font-family: $font_principale;
    font-size: 1.5rem;
    color: white;
    grid-column: 1/span 1;
    
}
.ticket_text_bold::after{
    content: "";
    width: 150px;
    height: 3px;
    border-radius: 20px;
    display: block;
    background-color: $white;
    margin-top: -20px;
    margin-left: 320px;
}
.ticket_text{
    grid-column: 3/span 10;
    font-weight: 100;
}
.Text_choisir_ticket{
    font-family: $font_principale;
    font-size: 2.5rem;
    font-weight: normal;
    width: 100%;
    text-align: center;
    color: $white;
    text-align: left;
    margin-top: 5vh;
    grid-column: 1/span 7;
}
#choisir_Ticket,#choisir_nombre_Ticket{
    grid-column: 9;
    height: 25px;
    margin-top: 7.5vh;
}
#payer{
    @include centerGD();
    @include buton();
}
#payer:hover{
    background-color: $gold;
}
.ask{
    width: 100%;
    margin-top: 5vh;
    background-color: transparent;
    border: none;
    border-bottom: solid 2px $white;
    color: $white;
    font-size: 1.2rem;
    font-family: $font_secondaire;
    font-weight: 100;
}
.wrapper_special{
    width: 50%;
    height: auto;
    margin: 2vh auto;
}
#mess{
    height: 25vh;
    resize: none;
}
#envoyer{
    @include centerGD();
    @include buton();
    
}
#envoyer:hover{
  background-color: $gold;
}
// slide 7 DEBUT
.container_sponsors{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    margin-top: 10vh;
}
.logo{
    width: 150px;
    height: 150px;
    transition: all 0.3s;
    filter: grayscale(1);
    cursor: pointer;
}
.logo:hover{
    filter: grayscale(0);
    transform: scale(1.1);
}