@import url('https://fonts.googleapis.com/css2?family=Prompt&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Prompt:wght@200&family=Signika:wght@300&display=swap');

//gestion des couleurs
$blue: #2D5289;
$blue_opa : rgba(45, 82, 137, 0.55);
$gold : #F0C045;
$white : #ffffff;
$black : #000000;
$white_opa : rgba(255, 255, 255, 0.7);
$gris_cadre : rgba(255, 255, 255, 0.4);

//gestion des fonts
$font_principale : 'Prompt', sans-serif;
$font_secondaire : 'Signika', sans-serif;

@mixin center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
@mixin centerGD {
    position: absolute;
    left: 50%;
    transform: translate(-50%,0);
}
@mixin slideTaille {
    width: 100%;
    height: 100vh;
}
@mixin after {
    content: "";
    display: block;
    width: 100%;
    height: 3px;
    background-color: $gold;
}

*{
    margin: 0;
    padding: 0;
}

html, body{
    @include slideTaille;
    scroll-behavior: smooth;
    overflow-x: hidden;
}
//gestion su wrapper
.wrapper{
    width: 1200px;
    margin: 0 auto;
}
//fin du wrapper
//slide 1
#home{
    position: relative;
    @include slideTaille;
    background-image: url(../../build/images/home_img.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

#home::after{
    content: "";
    display: block;
    width: 100%;
    height: 100vh;
    background-color: $blue_opa;
   z-index: 100;
}

//menu
nav{
    position: absolute;
    width: 100%;
    height: 10vh;
    background-color: $white_opa;
    backdrop-filter: blur(5px);
}

nav ul{
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
nav ul li{
    list-style: none;
    display: block;
}


.lien,a {
    line-height: 4.5rem;
    color: $black;
    text-decoration: none;
    font-family: $font_principale;
    font-weight:bold;
    font-size: 1.2rem;
    transition: 0.5s ease;
}

.lien::after {
    content: '';
    display: block;
    margin-top: -1.2rem;
    border-radius: 10px;
    height: 3px;
    width: 0;
    background-color: $black;
    transition: width 0.5s ease;
  }
  .lien:hover::after {
    width: 100%; 
  }
#rave{
    width: 35%;
}
#rave a{
    font-family: $font_secondaire;
    font-weight: bolder;
    font-size: 2.5rem;

}
//gestion animation de la fusée
ul img{
    position: absolute;
    width: 10%;
    margin-top: -5vh;
    animation-name: fusee;
    margin-left: -20%;
    animation-duration: 2s;
    animation-timing-function:ease-in-out;
    animation-fill-mode: forwards;
}


@keyframes fusee{
    0%{
        margin-left: -20%;
    }
    100%{
        margin-left: 11%;
    }
}
//gestion animation de la fusée FIN
//menu FIN

#fond_titre{
    @include center;
    width: 40%;
    height: 30%;
    background-color: $gris_cadre;
    
}
h1{
    font-family: $font_secondaire;
    font-size: 5rem;
    color: $white;
    text-shadow: $black 5px 5px 10px;
    font-weight: normal;
    text-align: center;
}
#bold{
    font-weight: bolder;
}
#text{
    margin-top: 3%;
}

#home svg{
    @include centerGD();
    margin-top: 35%;
}

#rectangleQuiBouge{
    height: 50%;
  position: absolute;
    stroke: $gold;
    stroke-width: 5px;
    fill: none;
    stroke-dasharray: 315;
    animation-name: yes;
    animation-duration: 10s;
    animation-timing-function:linear;
    animation-iteration-count: infinite;
}

@keyframes yes {
    0%{
        stroke-dashoffset: 315;
    }
    50%{
        stroke-dashoffset: 0;
    }
    100%{
        stroke-dashoffset: -315;
    }  
}
.date{
    font-family: $font_principale;
    font-weight: 900;
    margin-top: 35%;
    line-height: 6.5rem;
    @include centerGD;
    color: $gold;
    font-size: 3.5rem;
}

#scroll{
    @include centerGD;
    margin-top: 45%;
    width: 3%;
}
//slide1 FIN

//slide2 

#Edition_2021{
    @include slideTaille;
    height: 110vh;
    position: relative;
    background-color: $blue;
}
.fond_ST{
    width: 100%;
    height: auto;
}
.sous_titre{
    color: $gold;
    font-family: $font_principale;
    font-size: 3rem;
    @include centerGD();
    position: relative;
    font-weight: bolder;
    text-align: center;
    width: 30%;
    line-height: 15vh;
    background-color: $blue;
}
.fond_ST::after{
    margin-top: -7vh;
    content: "";
    display: block;
    width: 100%;
    height: 3px;
    background-color: $gold;
}
.container{
    margin-top: 10vh;
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 100px;
}
.carrez{
    width: 150px;
    height: 100px;
    border: solid 5px $white_opa;
    border-radius: 15px;
}
.carre{
    text-align: center;
    font-weight: normal;
    color: $white;
    font-family: $font_principale;
    font-size: 1.5rem;
}

.chiffres{
    font-weight: bolder;
    font-size: 2.5rem;
    text-align: center;
}

.texte_slide2{
    color: $white;
    font-size: 1.5rem;
    text-align:center;
    font-size: $font_principale;
    font-weight: 100;
    margin-top: 10vh;
}
.warning{
    margin-top: 2vh;
    margin-right: 5vh;
    color: $gold;
}
.covid{
    display: inline-block;
    font-size: 2.5rem;
    color: $gold;
}
.covid::after{
    @include after();
}
.pcr{
    margin-top: 4vh;
}
.edition2020{
    @include centerGD();
    margin-top: 3vh;
}
.moreInfo{
    font-size: 2.5rem;
    @include centerGD();
    margin-top: 38vh;
    color: $white;
}
.aftermovie{
    width: 280px;
    height: 160px;
    @include centerGD();
    margin-top: 12vh;
}

